@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Condensed:wght@700&display=swap');

*{
    box-sizing: border-box;
}

html{
    width:100%;
}

body{
    margin:0 auto;
    width:100%;
    max-width:2000px;
    min-width:320px;
    font-family: 'PT sans', sans-serif;
}

/* Header Section */
.header{
    width:100%;
    min-height:90vh;
    background:rgba(66,66,66,0.9)
}

.nav{
    width:100%;
    padding:5px 10px 10px 10px;
    display:flex;

}

.nav h1{
    color:#fff;
    width:80%;
    padding-left:1.2rem;
    font-family: 'Roboto Condensed', sans-serif; 
}

.nav-icons{
    color:#fff;
    width:20%;
    padding-right:5rem;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.nav-icons .fab{
    display:inline-block;
    margin:0.5rem;
}

.header-title{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:4rem 4.5rem;
    color:#fff;
}

.header-title h1{
    text-align:center;
    min-width:300px;
}

.header-title h2{
    text-align:center;
    width:50%;
    min-width:250px;
    font-weight:100;
    font-size:1.2rem;
}

/* About Section */

.about-section{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    background-color:rgb(220,220,220);
}

.about-section img{
    margin:0 auto;
    margin-bottom:30px;
    width:100px;
    height:100px;
    display:block;
}

.about-section div{
    position:relative;
    margin:20px;
    width:22rem;
    min-width:300px;
    text-align:center;
    padding:25px 30px;
    background-color:#fff;
    border-radius:10px;
    box-shadow:0px 0px 30px -10px #000;
}

.about-section div:nth-child(1){
    top:-80px;
}

.about-section div:nth-child(2){
    top:-120px;
}

.about-section div:nth-child(3){
    top:-80px;
}

/* Description Section */
.description{
    width:100%;
    min-height:550px;
    padding:10px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

/* Description 1 Section */

.description1-section{
    position:relative;
    padding:30px;
    flex-wrap:wrap-reverse;
    background-color:rgb(220,220,220); 
}

.science-description1{
    width:50%;
    min-width:300px;
    padding:30px;
}

.science-description-icon{
    margin-top:10px;
    margin-left:10px;
    width:50px;
    height:50px;
    border-radius:50%;
    box-shadow:0 0 30px 5px rgba(255,255,255,1);
}

.science-description1 h1{
    padding:10px;
}

.science-description1 p{
    padding:10px;
}

.description1-img-container h1{
    display:none;
    text-align:center;
}

.description1-img-container{
    width:50%;
    min-width:300px;
}

.description1-img{
    width:300px;
    height:200px;
    margin:0 auto;
    background-color:#f9813a;
    border-radius:5px 0 5px 5px;
}

/* Description 2 Section */
.description2-section{
    position:relative;
    flex-wrap:wrap; 
    justify-content:space-around;
    padding:50px;
}

.description2-img-container,
.science-description2{
    width:50%;
    min-width:300px;
    padding:20px;
}

.description2-img{
    width:100%;
}

.description2-img-container h1{
    display:none;
}

.description2-img{
    background-color: #00f;
    height:300px;
}

.science-description2 ul{
    padding-left:10px;
    width:80%;
}

/* Description 3 Section */
.description3-section{
    width:100%;
    position:relative; 
    flex-direction:column;
    padding:35px;
}

.description3-section div{
    text-align:center;
    /* width:100%; */
    margin-bottom:80px;
}

.science-description3 h1{
    margin-bottom:50px;
}

.science-description3 p{
    margin:0 auto;
    width:55%;
}

.scientists-list{
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
}

.scientist{
    width:150px;
    height:150px;
}

.scientist-name{
    margin-bottom:10px;
}

.scientist-desciption{
    font-style:italic;
    font-weight:200;
    margin-top:0;
}

/* Product Section */
.product-section,
.product-item{
    display:flex;
    justify-content:center;
    align-items:center;
}

.product-section{
    position:relative;
    padding:50px 30px;
    min-height:500px;
    color:#fff;
    background-color:#000;
    flex-direction:column;
}

.product-header{
    text-align:center;
    width:55%;
    margin-bottom:20px;
}

.product-item{
    flex-wrap:wrap;
}

.product-item div{
    width:30%;
    min-width:200px;
}

.product-item h1,
.product-item p{
    text-align:center;
    margin:10px 0;
    padding:5px 20px;
}

.product-item .fas{
    display:block;
    text-align:center;
    font-size:1.8rem;
    cursor:pointer;
    margin:35px 0 10px 0;
}

.product-item .fas:hover{
    color:#09f;
    transform:scale(1.2);
}

.product-subscription{
    margin:35px 0;
    width:100%;
    text-align:center;
}

.product-subscription input{
    display:block;
    margin:0 auto;
    padding:10px;
    width:350px;
    height:50px;
    border-radius:5px;
    font-size:1.5rem;
}

.subscribe-button{
    margin-top:20px;
    width:200px;
    height:50px;
    background-color:#000;
    color:#fff;
    border:0.1px solid #fff;
    font-size:1.5rem;
    cursor:pointer;
}

.subscribe-button:hover{
    background-color:#fff;
    color:#000;
}

/* Footer Section */
.footer-section,
.web-links ul,
.other-links ul{
    display:flex;
    justify-content:center;
    align-items:center;
}

.footer-section{
    padding-right:50px;
    min-height:200px;
    background-color:rgb(220,220,220);
    flex-wrap:wrap;
}

.contact{
    flex-grow:3;
    padding-left:80px;
}

.web-links ul,
.other-links ul{
    flex-direction:column;
    min-width:150px;
}

.other-links ul{
    padding-right:50px;
}

.web-links li,
.other-links li{
    display:inline-block;
    list-style-type:none;
    padding:5px;
    text-align:center;
    cursor:pointer;
}

svg{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}

@media screen and (max-width:960px){
    /* About Section */
    .about-section div:nth-child(1),
    .about-section div:nth-child(2),
    .about-section div:nth-child(3){
        top:0;
    }

    /* Description Section */
    .description1-img-container,
    .description2-img-container{
        padding:20px 0;
        text-align:center;
    }

    /* Description 3 Section*/
    .scientists-list div{
        margin-bottom:20px;
    }

    .science-description3 p{
        width:100%;
    }
}


@media screen and (max-width:680px){
    /* Header Section */
    .header-title h1{
        font-size:1.8rem;
    }

    .nav h1{
        width:100%;
        font-size:2rem;
        text-align:center;
        padding:0;
    }

    .nav-icons{
        display:none;
    }

    /*  About Section */
    .about-section div:nth-child(1),
    .about-section div:nth-child(2),
    .about-section div:nth-child(3){
        top:0;
        width:90%;
        font-size:0.8rem;
    }

    /* Description Section */
    .description{
        padding:20px;
    }

    .science-description1,
    .science-description2{
        text-align:center;
        padding:10px;
        width:90%;
    }

    .science-description1 h1,
    .science-description2 h1{
        display:none;
    }

    .description1-img-container h1,
    .description2-img-container h1{
        display:block;
    }

    /* Description 2 Section*/
    .description2-section h1{
        text-align:center;
    }

    .science-description2 p{
        padding:10px 20px;
        margin:0;
    }

    .science-description2 div{
        text-align:initial;
        padding-left:20px;
    }

    .science-description2 div h4{
        margin-bottom:10px;
        padding-left:15px;
    }

    .science-description2 ul{
        margin: 0 20px;
    }

    .science-description2 ul li{
        padding:10px 0;
    }

    /* Description 3 Section*/
    .description3-section div{
        width:90%;
    }

    .science-description3 h1{
        margin-bottom:25px;
    }

    /* Product Section */
    .product-section{
        padding:20px;
    }

    .product-item div{
        width:90%;
    }

    .product-header{
        width:90%;
    }

    .product-subscription input{
        width:90%;
    }

    /* Footer Section */
    .footer-section{
        padding:20px;
    }

    .contact{
        padding:0;
        text-align:center;
    }

    .web-links,
    .other-links{
        width:90%;
    }

    .web-links ul,
    .other-links ul{
        padding:0;
    }
}
